/* === Default ==== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  text-align: left;
}

 .wrapper > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.59);
  text-align: center;
  padding: 20px;
}

/* === Header ==== */

a:hover {
}

a:link {
  color:rgba(150, 186, 90,0.9);
  text-decoration: none;
}

a:visited {
  color: black;
}

header {
  background-image: linear-gradient(rgba(58, 58, 189, 0.103) 0%,rgba(43, 37, 37, 0.1) 40%), url("../asset/images/muquangchai.jpg");
  background-color: white;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: white;
  position: relative;
}
 
.header1 {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.header1 > * {
  /* border: white solid 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.header1 .ready {
  flex: 2;
  font-size: 300%;
  align-items: flex-end;
}

.header1 .time {
  flex: 1;
  font-size: 500%;
}

.header1 .talented {
  flex: 1;
  font-size: 200%;
}

.header1 .late {
  flex: 2;
  align-items: flex-start;
  font-size: 200%;
}

.header1 a {
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;
  background: #84B154;
  width: 180px;
  border-radius: 5px;
  transition: all 1s;
  text-align: center;
  color: white;
  padding: 10px;
  display: inline-block;
  box-shadow: 1px 1px 20px 5px rgba(150, 186, 90,0.6);
}


.header1 a:hover {
  transform: scale(1.1); 

}

 

.photosrc {
  position: absolute;
  bottom: 21px;
  left: 10px;
}
.photosrc a:link,
.photosrc a:visited {
  color: rgba(265, 265, 265, 0.7);
}

.header2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: rgba(0, 0, 0, 1);
}

.container {
  display: flex;
  /* border: 10px solid white; */
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  /* border: 1px solid black;  */
  text-align: center;
  /* padding: 10px 0; */
}
.box1 {
  /* text-align: right; */
  /* background: wheat; */
  flex: 1;
}

.box2 {
  /* text-align: center; */
  flex: 1;
}

.box3 {
  flex: 1;
  /* text-align: left; */
}

.box4 {
  /* background: red; */
  /* text-align: right; */
  /* padding-right: 50px; */
  flex: 1;
}

.box1 img {
  width: 100px;
  border-radius: 50%;
}

.box4 img {
  width: 200px;
  text-align: right;
}

body > .wrapper,footer > .wrapper {
  background: #96BA5A;
  /* padding: 5px 0; */
  position: sticky;
  top: 0;
  box-shadow: 10px 1px 20px 0 rgba(0, 0, 0, 0.7)
}

.flex-nav { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-nav ul {
  /* border: 1px solid black; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-nav a {
  color: white;
  /* background: rgba(0, 0, 0, 0.2); */
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.flex-nav li {
  flex: 3;
}

.flex-nav i.fas{
  font-size: 20px;
}

#menu{
 display: flex;
 align-items: center; 
 justify-content: center;
}
#menu .fas{
  flex-basis: 50px;
}

.nav-menutop{
  display: none;
}
.nav-menutop a{
  padding:  5px 0;
}


 

/* ==== Body ==== */

section {
}

section > .wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  /* background: white; */
}

/* ==== Introduction ==== */

 

.home {
  background: white;
}
.home p {
  text-align: left;
}
table {
  width: 90%;
  margin: 20px auto;
}

th,
td {
  width: 25%;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
}

td {
  border-top: none;
}

td.seven{
  background-image: linear-gradient(to right , rgba(128, 128, 128,0.6) 70%, white 0%)
}


td.nine{
  background-image: linear-gradient(to right , rgba(128, 128, 128,0.6) 70%,rgba(52, 158, 100, 0.6) 70%,rgba(52, 158, 100, 0.6) 90%, white 0%)
}
/* skill-flex */
 
 
 

.plan ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.plan ul li:last-child {
  border: 0;
}
progress {
  margin: 20px 0;
}

.skill-flex h3 {
  color: white;
}
.skill-flex {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  /* align-items: center; */
}

.plan {
  flex: 1;
  background: rgba(150, 186, 90,0.8);
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 1px solid rgba(92, 121, 46,0.2);
  box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.4)
}
 

.feature{
  flex:1;
}

progress {
  /* align-self: flex-end; */
  /* justify-self: flex-end; khong lam viec  */
}

/*  Project*/

iframe {
  /* width: 100%; */
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 20px;
}

.project{
  background: rgba(265, 265, 265,0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  align-items: center;

}

.project .fab {
  color: rgba(150, 186, 90,0.9);
  font-size: 400%;
}

/*  Contact*/

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  margin: 20px auto;
  /* width: 90%; */
}
form label {
  flex: 1 1 30%;
  margin: 10px;
}

.yourskills {
  flex-basis: 90%;
}
form input,
form select {
  flex: 1 1 60%;
  margin: 10px;
}

label {
  text-align: left;
  /* padding-left: 20px; */
}

form button {
  padding: 10px;
  margin-top: 20px;
  flex: 0 1 70%;
} 


input,label{
  padding: 10px;
}

/* ==== Footer ==== */
footer .wrapper {
  padding: 20px 0;
  padding-bottom: 100px; 
}

footer .flex-nav i {
  color: white;
  height: 40px;
}

footer .flex-nav a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*  social media icons */

i {
  font-size: 40px;
  color: white;
}

.fa-github {
  color: #2376ea;
}

/*   mobile  */

@media all and (max-width: 800px) {
  .box {
    flex: 1 1 50%;
  }

  .box1 {
    order: -2;
    text-align: center;
  }

  .box3 {
    text-align: center;
  }
  .box4 {
    order: -1;
    text-align: center;
    padding-right: 0;
  }

  .flex-nav ul,
  .skill-flex,
  .project-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
  }

  .header1 .ready {
    flex: 1;
    font-size: 200%;
  }

  .header1 .time {
    flex: 1;
    font-size: 300%;
  }

  .header1 .talented {
    font-size: 120%;
  }

  .photosrc {
    display: none;
  }

  .nav-menutop{
    display: block;
  }

 
  .wrapper .nav-menutoplink{
    display:none;
  }

  .wrapper:hover .nav-menutoplink{
    display: block;
  }

  .wrapper:hover .nav-menutop{
    /* display: none; */
  }
  .wrapper:hover a{
    padding: 5px 0;
  }
}

@media all and (max-width: 450px) {
  .box3 {
    order: 2;
  }
  .box4 {
    order: 1;
  }
  .box {
    flex: 1 1 100%;
  }

  header {
    padding-top: 10px;
  }
  .header1 button{
    width: 150px;
    font-size: 15px;
  }

 

  
 
}
