/* === Header ==== */

.container {
  display: flex;
  border: 10px solid goldenrod;
  
  min-height: 200px;
  align-items: center;
 
}

.box {
  border: 1px solid black; 
}
.box1 {
  background: red;
  flex: 1 1;
  text-align: right;
}

.box2 {
  background: yellow;
  flex: 0 0 200px;
  text-align: center;
}

.box3 {
  background: purple;
  flex: 2 10;
  text-align: left;
}

header img {
  width:100px;
  border-radius: 50%;
}

.menu{
  display: flex;
  justify-content: space-evenly;

}

.menu li{
  list-style: none;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
} 

/* .header-wrap {
  display: flex;
  align-items: center; 
  justify-items: center;
  justify-content: center;  
  text-align: center;
}

.header-wrap div {
  border: 2px solid green; 
  flex:1; 
  height: 100px;
}

 


header div img {
  width: 100px;
  border-radius: 50%;
}

header ul li {
  display: inline-block;
  margin-right: 15%;
}

*/
/* ==== Body ==== */

/* ==== Footer ==== */
footer {
  background-color: lightblue;
}
